<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Taquicornios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col s12  m6 offset-m3 center">
                <h1>Taquitos MX</h1>
                <h3>Completa los campos para terminar el registro.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3  center">

                <div class="input-field">
                    <input id="first_name" type="text" class="validate" required>
                    <label for="first_name">Name</label>
                </div>

                <div class="input-field">
                    <input id="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                </div>

                <div class="input-field">
                    <input id="telefono" type="tel" class="validate" required>
                    <label for="icon_telephone">Teléfono</label>
                </div>

                <button class="waves-effect waves-light btn" type="submit" id="validar">Ingresar</button>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="js/validacion.js"></script>
</body>

</html>
